* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.header-container {
    background-color: #1f2937;
    padding: 10px 0;
    display: flex;
    justify-content: center;
}

.header {
    border: 20px #F9FAF8;
    width: 900px;
    display: flex;
    justify-content: space-between;
}

.header-logo {
    display: flex;
    color: #F9FAF8;
    font-size: 24px;
    justify-content: flex-start;
}

.links {
    display: flex;
    justify-content: flex-end;
    font-size: 18px;
    color: #E5E7EB;
}

.link2, .link3 {
    margin-left: 20px;
}

.main {
    background-color: #1f2937;
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: center;
}

.main-text {
    font-size: 48px;
    color: #F9FAF8;
}

p {
    font-size: 18px;
    color: #E5E7EB;
    padding-bottom: 20px;
}

button {
    background-color: #3882F6;
    font-size: 18px;
    color: #E5E7EB;
    padding: 10px;
}